{% if company['addresses'] is defined %}
    {% set companyAddresses = company['addresses'] %}
{% else %}
    {% set companyAddresses = '' %}
{% endif %}
<div class="row">
    <div class="col">
        {% set params =
            [
                'component'                                   : component,
                'componentName'                               : componentName,
                'componentId'                                 : componentId,
                'sectionId'                                   : sectionId,
                'addressFieldType'                            : 'multiple',
                'includeAttentionTo'                          : true,
                'includeStreet'                               : true,
                'includeStreetExt'                            : true,
                'searchType'                                  : 'city',
                'addresses'                                   : companyAddresses
            ]
        %}
        {% if company['id'] is defined %}
            {% set params = array_merge(params,
                    [
                        'addressPostLink'                             : links.url('companies/addresses'),
                        'addressPackageName'                          : 'Companies',
                        'addressPackageRowId'                         : company['id']
                    ]
                )
            %}
        {% endif %}
        {{adminltetags.useTag('addresses', params)}}
    </div>
</div>