{% if company['contacts'] is defined %}
    {% set companyContacts = company['contacts'] %}
{% else %}
    {% set companyContacts = '' %}
{% endif %}
<div class="row">
    <div class="col">
        {% set params =
            [
                'component'                                   : component,
                'componentName'                               : componentName,
                'componentId'                                 : componentId,
                'sectionId'                                   : sectionId,
                'contactFieldType'                            : 'multiple',
                'includePortrait'                             : true,
                'setOrphan'                                   : false,
                'includeName'                                 : true,
                'firstNameFieldRequired'                      : true,
                'lastNameFieldRequired'                       : true,
                'includeEmail'                                : true,
                'secondaryEmailFieldHidden'                   : true,
                'ccEmailsToSecondaryEmailFieldHidden'         : true,
                'includeOther'                                : true,
                'includeNotes'                                : true,
                'contacts'                                    : companyContacts
            ]
        %}
        {% if company['id'] is defined %}
            {% set params = array_merge(params,
                    [
                        'contactPostLink'                             : links.url('companies/contacts'),
                        'contactPackageClass'                         : 'Apps_Tms_Packages_Companies_Companies',
                        'contactPackageRowId'                         : company['id']
                    ]
                )
            %}
        {% endif %}
        {{adminltetags.useTag('contacts', params)}}
    </div>
</div>
